body {
    padding-top: 10px;
    padding-bottom: 50px;
    background-image: url("../images/background_awesome.gif");
    -moz-background-size: cover;
    /*background-size: cover;*/
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    -o-background-size: cover;
    font-family: 'Tangerine', serif;
}


.user {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
    position: absolute;
    padding-bottom: 50px;
    padding-right: 50px;
    height: 100%;
    width: 100%;
    text-align: center;

}

.btn-file {
    position: relative;
    overflow: hidden;
}

input, textarea {
    margin-bottom: 5px;
}


.black-text {
    color: black;
}

.img-prof-large {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-prof {
    width: 25px;
    height: 25px;
}


.black {
    /*background: transparent;*/
    background-color: black;
}


.btn-max-width {
    width: 25%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    color: inherit;
    height: 100%;
    width: 100%;
}


.img-fit {
    width: 200px;
    height: 200px;
}

.pad-left-30 {
    padding-left: 40px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.no-padding {
    padding: 0px;
}
.neg-left-margin {
    margin-left: -15px;
}

.top-15{
    margin-top: 15px;
}

.r-15 {
    margin-right: 15px;
}

.sidebar {
    min-height: 100%;
    height: 100%;
    /*box-sizing:border-box;*/
    position: fixed;
    /*border-top-color: gray;*/
    /*border: 1px;
    border-radius: 0px;*/
    /*padding-top: 10px;*/
    /*margin: -15px;*/
    /*padding: -15px;*/
}

/*.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}*/


.top-margin {
    margin-top: 10px;
}
.row-margin {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    /*margin-top: 5px;*/
}


a:not([href]):not([tabindex]) {
    color: white;
}

.love {
    color: red;
}

.navbar-sidebar {
    background-color: #ce1139;
}
.navbar-default {
    border-bottom-color: lightblue;
    padding: 0px;
    margin: 0px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: white;
}



.panel-default>.panel-heading {
    color: white;
    background-color: #363b3e;
    border-color: #363b3e;
}

.panel-default {
    border-color: #363b3e;
    background-color: #363b3e;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
}


.yellow{
    background-color: yellow;
}
.silver{
    color: silver;
}

.msgpop{
    color: dodgerblue;
}
.badge-msg{
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #3a87ad;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.image-default{
    border-radius: 50%;
}
.display-picture{
    border-radius: 40%;
    height:60px;
    width: 60px;
}
.dropdown-toggle::after {
    content: none;
}

.z-dropdown{
    z-index: 1600;
}
.blue{
    background-color: lightblue;
}
.mozzie{
    border: solid goldenrod;
    border-radius: 10px;
    color: deepskyblue;
    font-size: 10px;
}
.lefticon{
    width:60px;
    height: 60px;
}
.transparent {
    /*opacity: 0.4;*/
    height: 40px;
    /*position: fixed;*/
/*position: absolute*/
}
.fixbar{
    /*position: absolute;*/
    width: 100%;
    height:30px;
    position: fixed;
    left: 0px;
    top: 0px;
    right:0;
    height: 30px;
    background: red;
    z-index: 1;
}
#searchh {
    position: absolute;
    right:20px;
    top: 0px;
    width: 30px;
    height: 22px;
    z-index: 2;
    background:blue;
}

.label:after{
    content:"*" ;
    color:red
}
.transparency{
    opacity: 0.5;
}
.prof-pic{
    height:100px;
    width:100px
}

@media (min-width: 1200px) {
    .card-columns  {
        column-count: 10;
    }
}
.admin{
    background-color: yellow;
}

/*li { background: green; }*/
/*li:nth-child(odd) { background: slategrey; }*/
.label{
    color: cornsilk;
}
.cornsilk{
    color: cornsilk;
}