<div class="container-fluid">
    <div class="card">
        <div class="card-block">
            <form name="formUpload" action="/api/upload/track"
                  method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <h5>Title</h5>
                    <input class="form-control"
                           id="title"
                           type="text"
                           ng-model="model.track.title"
                           name="title"
                           placeholder="Title*">
                </div>

                <div class="input-group">
                    <h5> Image</h5>
                    <input class="form-control"
                           name="myFile"
                           type="file"
                           accept=".jpg,.png,.jpeg"
                           placeholder="">
                </div>
                <div class="input-group">
                    <h5> Track</h5>
                    <input class="form-control"
                           ng-model="model.track.upload"
                           id="myFile"
                           name="myFile"
                           accept=".mp3"
                           type="file"
                           required
                           placeholder="">
                </div>

                <div class="input-group">
                    <h5>Summary</h5>
                    <textarea
                            class="form-control"
                            id="summary"
                            name="summary"

                            placeholder="Summary"></textarea>
                </div>

                <button class="btn btn-primary">
                    Add Track
                </button>
            </form>
        </div>
    </div>


</div>